// CLASSIFICATION: UNCLASSIFIED
go 1.24.1

toolchain go1.24.12

use (
	./gen/go
	./pkg
	./svc-ais-ingestion
	./svc-alert
	./svc-anomaly-detection
	./svc-audit
	./svc-cyber-ingestion
	./svc-elint-ingestion
	./svc-ew-ingestion
	./svc-feedback
	./svc-fusion-engine
	./svc-isr-ingestion
	./svc-query
	./svc-radar-ingestion
	./svc-nato-adapter
	./svc-track
	./svc-training
	./tests/benchmark
	./tests/e2e
	./tests/integration
	./tools/simulator
	./wasm-transforms
)
